<form [formGroup]="iwwForm">
    <div class="type">
        <h2 i18n>Type</h2>
        <select id="card-type" formControlName="cardType">
            <option *ngFor="let cardType of cardTypes" [value]="cardType" i18n>{{ cardType }}</option>
        </select>
    </div>
    <div class="name">
        <h2 i18n>Name</h2>
        <input type="text" id="card-name" formControlName="name"/>
    </div>
    <div class="number-of-copies">
        <h2 i18n>Number of copies</h2>
        <input type="number" id="number-of-copies" min="1" max="9" formControlName="numberOfCopies"/>
    </div>
    <div class="costs">
        <h2 i18n>Costs</h2>
        <ng-container *ngFor="let cost of basicCubes | arrayConcat:['krystallium']:tokens">
            <label [for]="cost + '-cost'" i18n>{{cost}} cost:</label>
            <select [id]="cost + '-cost'" [formControlName]="cost + 'Cost'">
                <option *ngFor="let n of 0 | numberSequence:15; index as i;" [value]="i"
                [disabled]="(i|toNumber) + (totalCost|toNumber) - (iwwForm.controls[cost + 'Cost'].value|toNumber) > 15">{{i}}</option>
            </select>
        </ng-container>
    </div>
    <div class="bonuses">
        <h2 i18n>Bonuses</h2>
        <ng-container *ngFor="let bonus of ['krystallium'] | arrayConcat:tokens:['worker']">
            <label [for]="bonus + '-bonus'" i18n>{{bonus}} bonus:</label>
            <select [id]="bonus + '-bonus'" [formControlName]="bonus + 'Bonus'">
                <option *ngFor="let n of 0 | numberSequence:4; index as i;" [value]="i"
                [disabled]="(i|toNumber) + (totalBonus|toNumber) - (iwwForm.controls[bonus + 'Bonus'].value|toNumber) > 4">{{i}}</option>
            </select>
        </ng-container>
    </div>
    <div class="recycling">
        <h2 i18n>Recycling</h2>
        <select id="recycling" formControlName="recycling">
            <option *ngFor="let basicCube of basicCubes" [value]="basicCube" i18n>{{basicCube}}</option>
        </select>
    </div>
    <div class="victory-points">
        <h2 i18n>Victory points</h2>
        <label for="nb-victory-points">Number of victory points:</label>
        <input id="nb-victory-points" type="number" formControlName="victoryPoints">
        <ng-container *ngIf="iwwForm.controls['victoryPoints'].value > 0">
            <label for="multiplier1">First multiplier:</label>
            <select id="multiplier1" formControlName="multiplier1">
                <option value="null">---</option>
                <option *ngFor="let multiplierType of cardTypes | arrayConcat:tokens" [value]="multiplierType" i18n>{{ multiplierType }}</option>
            </select>
            <ng-container *ngIf="iwwForm.controls['multiplier1'].value != null">
                <label for="multiplier2">Second multiplier:</label>
                <select id="multiplier2" formControlName="multiplier2">
                    <option value="null">---</option>
                    <ng-container *ngFor="let multiplierType of cardTypes | arrayConcat:tokens">
                        <option *ngIf="iwwForm.controls['multiplier1'].value != multiplierType" [value]="multiplierType" i18n>{{ multiplierType }}</option>
                    </ng-container>
                </select>
            </ng-container>
        </ng-container>
    </div>
    <div class="production">
        <h2 i18n>Production</h2>
        <ng-container *ngFor="let production of basicCubes | arrayConcat:['culture']:['krystallium']:tokens">
            <label [for]="production + '-production'">{{production}} production:</label>
            <select [id]="production + '-production'" [formControlName]="production + 'Production'">
                <option *ngFor="let n of (-1 | numberSequence:6); index as i;" [value]="i"
                [disabled]="((i | absoluteValue) + totalCost - iwwForm.controls[production + 'Production'].value) > 6">{{i}}></option>
            </select>
        </ng-container>
    </div>
</form>

<div id="card" [ngClass]="iwwForm.controls['cardType'].value">
    <div class="card-model"></div>
    <div class="card-name-container">
        <div class="card-name">
            <span>{{iwwForm.controls['name'].value}}</span>
        </div>
    </div>
    <div class="nb-card-container">
        <div class="nb-card">
            <span>{{iwwForm.controls['numberOfCopies'].value}}</span>
        </div>
    </div>
    <div class="cost-bar-container" [attr.data-total-cost]="totalCost">
        <div #primaryCostBar class="cost-bar primary">
            <div *ngIf="totalCost == 0" class="cost"></div>
            <ng-container *ngFor="let cost of (1 | numberSequence:totalCost)">
                <ng-container *ngIf="cost | iwwOnFirstBar:totalCost">
                    <div class="cost" [attr.data-cost-number]="cost" [ngClass]="cost | iwwCostType:iwwForm"></div>
                </ng-container>
            </ng-container>
        </div>
        <div #secondaryCostBar *ngIf="totalCost > 9" class="cost-bar secondary">
            <ng-container *ngFor="let cost of (1 | numberSequence:totalCost)">
                <ng-container *ngIf="!(cost | iwwOnFirstBar:totalCost)">
                    <div class="cost" [attr.data-cost-number]="cost" [ngClass]="cost | iwwCostType:iwwForm"></div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="card-image-and-build-bonus">
        <div class="card-image-container">
            <div class="card-image"></div>
        </div>
        <div *ngIf="totalBonus > 0" class="when-built-container">
            <div class="when-built">
                <div class="when-built-production">
                    <ng-container *ngFor="let bonuses of ['krystallium'] | arrayConcat:tokens:['worker']">
                        <div *ngFor="let bonus of 1 | numberSequence:iwwForm.controls[bonuses + 'Bonus'].value" class="when-built-bonus" [ngClass]="bonuses"></div>
                    </ng-container>
                </div>
                <div class="when-built-circle"></div>
            </div>
        </div>
    </div>
    <div class="recycling-container">
        <div class="recycling" [ngClass]="iwwForm.controls['recycling'].value">
            <div class="recycling-circle">
                <div class="recycling-circle-inside"></div>
            </div>
            <div class="recycling-bar"></div>
        </div>
    </div>
    <div class="effects-container" [attr.data-points-multipliers]="{'0': iwwForm.controls['multiplier1'].value == null,
    '1': iwwForm.controls['multiplier1'].value != null && iwwForm.controls['multiplier2'].value == null, '2': iwwForm.controls['multiplier2'].value != null}"
    [attr.data-production]="totalProduction">
        <div class="victory-points-container">
            <div *ngIf="iwwForm.controls['victoryPoints'].value != 0" class="victory-points">
                <div class="nb-points-value">
                    <div class="nb-points-container">
                        <div class="inside-text">{{iwwForm.controls['victoryPoints'].value}}</div>
                    </div>
                </div>
                <div *ngIf="iwwForm.controls['multiplier1'].value != null" class="victory-points-multiplier">
                    <div *ngIf="iwwForm.controls['multiplier2'].value == null" class="single-multiplier-symbol" [ngClass="iwwForm.controls['multiplier1'].value"]></div> 
                    <div *ngIf="iwwForm.controls['multiplier2'].value != null" class="double-multiplier-symbol">
                        <div class="double-multiplier-symbol-left" [ngClass="iwwForm.controls['multiplier1'].value"]></div>
                        <div class="double-multiplier-symbol-right" [ngClass="iwwForm.controls['multiplier2'].value"]></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="totalProduction > 0" class="production-container">
            <div class="production">
                <ng-container *ngFor="let production of basicCubes | arrayConcat:['culture']:['krystallium']:tokens">
                    <div *ngFor="let p of (1 | numberSequence:(iwwForm.controls[production + 'Production'].value | absoluteValue))" class="production"
                    [ngClass]="{production: true, 'corruption': iwwForm.controls[production + 'Production'].value < 0}"></div>
                </ng-container>
            </div>
        </div>
    </div>
</div>