<form [formGroup]="iwwForm">
    <div class="type">
        <h2 i18n>Type</h2>
        <select id="card-type" formControlName="type">
            <option value="structure" i18n>Structure</option>
            <option value="vehicle" i18n>Vehicle</option>
            <option value="research" i18n>Research</option>
            <option value="project" i18n>Project</option>
            <option value="discovery" i18n>Discovery</option>
            <option value="memorial" i18n>Memorial</option>
        </select>
    </div>
    <div class="costs">
        <h2 i18n>Costs</h2>
        <label for="material-cost" i18n>Material cost:</label>
        <select id="material-cost" formControlName="materialCost">
            <option *ngFor="let n of numSequence(14); let i = index;" value="i" [disabled]="i + totalCost - iwwForm.getValue('materialCost') > 14">{{i}}</option>
        </select>
        <label for="energy-cost" i18n>Science cost:</label>
        <select id="energy-cost" formControlName="energyCost">
            <option *ngFor="let n of numSequence(14); let i = index;" value="i" [disabled]="i + totalCost - iwwForm.getValue('energyCost') > 14">{{i}}</option>
        </select>
        <label for="science-cost" i18n>Energy cost:</label>
        <select id="science-cost" formControlName="scienceCost">
            <option *ngFor="let n of numSequence(14); let i = index;" value="i" [disabled]="i + totalCost - iwwForm.getValue('scienceCost') > 14">{{i}}</option>
        </select>
        <label for="gold-cost" i18n>Gold cost:</label>
        <select id="gold-cost" formControlName="goldCost">
            <option *ngFor="let n of numSequence(14); let i = index;" value="i" [disabled]="i + totalCost - iwwForm.getValue('goldCost') > 14">{{i}}</option>
        </select>
        <label for="exploration-cost" i18n>Exploration cost:</label>
        <select id="exploration-cost" formControlName="explorationCost">
            <option *ngFor="let n of numSequence(14); let i = index;" value="i" [disabled]="i + totalCost - iwwForm.getValue('explorationCost') > 14">{{i}}</option>
        </select>
        <label for="krystallium-cost" i18n>Krystallium cost:</label>
        <select id="krystallium-cost" formControlName="krystalliumCost">
            <option *ngFor="let n of numSequence(14); let i = index;" value="i" [disabled]="i + totalCost - iwwForm.getValue('krystalliumCost') > 14">{{i}}</option>
        </select>
        <label for="financier-cost" i18n>Financier cost:</label>
        <select id="financier-cost" formControlName="financierCost">
            <option *ngFor="let n of numSequence(14); let i = index;" value="i" [disabled]="i + totalCost - iwwForm.getValue('financierCost') > 14">{{i}}</option>
        </select>
        <label for="general-cost" i18n>General cost:</label>
        <select id="general-cost" formControlName="generalCost">
            <option *ngFor="let n of numSequence(14); let i = index;" value="i" [disabled]="i + totalCost - iwwForm.getValue('generalCost') > 14">{{i}}</option>
        </select>
        <label for="celebrity-cost" i18n>Celebrity cost:</label>
        <select id="celebrity-cost" formControlName="celebrityCost">
            <option *ngFor="let n of numSequence(14); let i = index;" value="i" [disabled]="i + totalCost - iwwForm.getValue('celebrityCost') > 14">{{i}}</option>
        </select>
    </div>
    <div class="bonuses">
        <label for="krystallium-bonus" i18n>Krystallium bonus:</label>
        <select id="krystallium-bonus" formControlName="krystalliumBonus">
            <option *ngFor="let n of numSequence(4); let i = index;" value="i" [disabled]="i + totalBonus - iwwForm.getValue('krystalliumBonus') > 4">{{i}}</option>
        </select>
        <label for="financier-bonus" i18n>Financier bonus:</label>
        <select id="financier-bonus" formControlName="financierBonus">
            <option *ngFor="let n of numSequence(4); let i = index;" value="i" [disabled]="i + totalBonus - iwwForm.getValue('financierBonus') > 4">{{i}}</option>
        </select>
        <label for="general-bonus" i18n>General bonus:</label>
        <select id="general-bonus" formControlName="generalBonus">
            <option *ngFor="let n of numSequence(4); let i = index;" value="i" [disabled]="i + totalBonus - iwwForm.getValue('generalBonus') > 4">{{i}}</option>
        </select>
        <label for="celebrity-bonus" i18n>Celebrity bonus:</label>
        <select id="celebrity-bonus" formControlName="celebrityBonus">
            <option *ngFor="let n of numSequence(4); let i = index;" value="i" [disabled]="i + totalBonus - iwwForm.getValue('celebrityBonus') > 4">{{i}}</option>
        </select>
        <label for="worker-bonus" i18n>Worker bonus:</label>
        <select id="worker-bonus" formControlName="workerBonus">
            <option *ngFor="let n of numSequence(4); let i = index;" value="i" [disabled]="i + totalBonus - iwwForm.getValue('workerrBonus') > 4">{{i}}</option>
        </select>
    </div>
    <div class="recycling">

    </div>
</form>