<h1 i18n>Welcome to Board Game Card Maker!</h1>
<div i18n>This tools allows you to create you own cards from popular board games.</div>
<div i18n>Please choose a board game from the following list:</div>
<form [formGroup]="chooseGameForm">
    <select formControlName="boardGame">
        <option [value]="null" disabled>Select a game</option>
        <option *ngFor="let game of games" [value]="game.id">{{game.name}}</option>
    </select>
</form>

<div id="card-maker-panel">
    <router-outlet (activate)="routerActivate($event.uri)"></router-outlet>
</div>

<button id="createCard" *ngIf="chooseGameForm.valid" (click)="createCard()" i18n>Create my card!</button>